**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/bin
**/obj
**/dist
**/publish-context
**/logs
**/Logs
**/reports
**/.env
**/.env.*
!.env.example
!.env.docker
**/docker-compose.override.yml
**/README.md
**/LICENSE
**/.github
**/node_modules
**/.npm
**/.node_repl_history
**/*.log
**/*.logs
**/.DS_Store
**/*.swp
**/*.swo
*~
