**/.git
**/.gitignore
**/.gitattributes
**/.vs
**/.vscode
**/bin
**/obj
**/dist
**/.env
**/docker-compose.override.yml
**/README.md
**/LICENSE
**/.github
**/node_modules
**/.npm
**/.node_repl_history
**/*.log
**/*.logs
**/Logs
**/.DS_Store
**/*.swp
**/*.swo
*~
